@model MeteorStrike.Models.Ticket

@{
    ViewData["Title"] = "Edit Ticket";
}

            <!-- -------------------------------------------------------------- -->
            <!-- Container fluid  -->
            <!-- -------------------------------------------------------------- -->
            <div class="container-fluid page-content">
                <!-- -------------------------------------------------------------- -->
                <!-- Start Page Content -->
                <!-- -------------------------------------------------------------- -->
                <div class="row">
                    <!-- Column -->
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form asp-action="Edit">
                                   <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                  <input type="hidden" asp-for="Id" />
                                                  <input type="hidden" asp-for="Created" />
                                                  <input type="hidden" asp-for="ProjectId" />
                                                  <input type="hidden" asp-for="SubmitterUserId" />
                                    <div class="form-body">
                                        <h5 class="card-title">Edit an existing Ticket</h5>
                                        <hr>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="mb-3">
                                                  <label asp-for="Title" class="control-label"></label>
                                                  <input asp-for="Title" class="form-control" />
                                                  <span asp-validation-for="Title" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-12">
                                                <div class="form-group mb-3">
                                                  <label asp-for="Description" class="control-label"></label>
                                                  <input asp-for="Description" class="form-control" />
                                                  <span asp-validation-for="Description" class="text-danger"></span>
                                               </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group mb-3">
                                                   <label asp-for="TicketTypeId" class="control-label"></label>
                                                   <select asp-for="TicketTypeId" class="form-control" asp-items="ViewBag.TicketTypeId"></select>
                                                   <span asp-validation-for="TicketTypeId" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group mb-3">
                                                   <label asp-for="TicketStatusId" class="control-label"></label>
                                                   <select asp-for="TicketStatusId" class="form-control" asp-items="ViewBag.TicketStatusId"></select>
                                                   <span asp-validation-for="TicketStatusId" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group mb-3">
                                                   <label asp-for="TicketPriorityId" class="control-label"></label>
                                                   <select asp-for="TicketPriorityId" class="form-control" asp-items="ViewBag.TicketPriorityId"></select>
                                                   <span asp-validation-for="TicketPriorityId" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group mb-3">
                                                   <label asp-for="DeveloperUserId" class="control-label"></label>
                                                   <select asp-for="DeveloperUserId" class="form-control" asp-items="ViewBag.DeveloperUserId"></select>
                                                   <span asp-validation-for="DeveloperUserId" class="text-danger"></span>
                                                </div>
                                             </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group mb-3">
                                                  <label asp-for="TicketPriorityId" class="control-label"></label>
                                                  <select asp-for="TicketPriorityId" class ="form-control" asp-items="ViewBag.TicketPriorityId"></select>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                    <div class="form-actions">
                                        <button type="submit" value="create" class="btn btn-success rounded-pill px-4"> Save</button>

                                    </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>
                <!-- -------------------------------------------------------------- -->
                <!-- End PAge Content -->
                <!-- -------------------------------------------------------------- -->
            </div>
            <!-- -------------------------------------------------------------- -->
            <!-- End Container fluid  -->
            <!-- -------------------------------------------------------------- -->

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}