@model MeteorStrike.Models.Ticket

@{
    ViewData["Title"] = "Edit Ticket";
}
 <!-- ============================================================== -->
 <!-- Bread crumb and right sidebar toggle -->
 <!-- ============================================================== -->
 <div class="page-breadcrumb border-bottom">
     <div class="row">
         <div class="col-lg-3 col-md-4 col-xs-12 justify-content-start d-flex align-items-center">
             <h5 class="font-weight-medium text-uppercase mb-0">Edit Ticket</h5>
         </div>
         <div class="col-lg-9 col-md-8 col-xs-12 d-flex justify-content-start justify-content-md-end align-self-center">
             <nav aria-label="breadcrumb" class="mt-2">
                 <ol class="breadcrumb mb-0 p-0">
                     <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                     <li class="breadcrumb-item active" aria-current="page"><a asp-controller="Home" asp-action="Index">Dashboard</a></li>
                     <li class="breadcrumb-item active" aria-current="page"><a asp-controller="Tickets" asp-action="Index">Tickets</a></li>
                     <li class="breadcrumb-item active" aria-current="page"><b><a asp-action="Edit" asp-route-id="@Model.Id">@Model.Title</a></b></li>
                 </ol>
             </nav>
             <a asp-controller="Tickets" asp-action="Create" class="btn btn-danger text-white ms-3 d-none d-md-block">Create Ticket</a>
         </div>
     </div>
 </div>
 <!-- ============================================================== -->
 <!-- End Bread crumb and right sidebar toggle -->
 <!-- ============================================================== -->

            <!-- -------------------------------------------------------------- -->
            <!-- Container fluid  -->
            <!-- -------------------------------------------------------------- -->
            <div class="container-fluid page-content">
                <!-- -------------------------------------------------------------- -->
                <!-- Start Page Content -->
                <!-- -------------------------------------------------------------- -->
                <div class="row">
                    <!-- Column -->
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form asp-action="Edit">
                                   <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                  <input type="hidden" asp-for="Id" />
                                                  <input type="hidden" asp-for="Created" />
                                                  <input type="hidden" asp-for="ProjectId" />
                                                  <input type="hidden" asp-for="SubmitterUserId" />
                                    <div class="form-body">
                                        <h5 class="card-title">Edit @Model.Title</h5>
                                        <hr>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="mb-3">
                                                  <label asp-for="Title" class="control-label"></label>
                                                  <input asp-for="Title" class="form-control" />
                                                  <span asp-validation-for="Title" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-12">
                                                <div class="form-group mb-3">
                                                  <label asp-for="Description" class="control-label"></label>
                                                  <textarea asp-for="Description" class="editor form-control"></textarea>
                                                  <span asp-validation-for="Description" class="text-danger"></span>
                                               </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group mb-3">
                                                   <label asp-for="TicketTypeId" class="control-label">Ticket Type</label>
                                                   <select asp-for="TicketTypeId" class="form-control" asp-items="ViewBag.TicketTypeId"></select>
                                                   <span asp-validation-for="TicketTypeId" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group mb-3">
                                                   <label asp-for="TicketStatusId" class="control-label">Status</label>
                                                   <select asp-for="TicketStatusId" class="form-control" asp-items="ViewBag.TicketStatusId"></select>
                                                   <span asp-validation-for="TicketStatusId" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group mb-3">
                                                   <label asp-for="TicketPriorityId" class="control-label">Priority</label>
                                                   <select asp-for="TicketPriorityId" class="form-control" asp-items="ViewBag.TicketPriorityId"></select>
                                                   <span asp-validation-for="TicketPriorityId" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            @if (User.IsInRole("ProjectManager") || User.IsInRole("Admin"))
                                            {
                                                <div class="col-md-6">
                                                    <div class="form-group mb-3">
                                                        <label asp-for="DeveloperUserId" class="control-label">Assigned Developer</label>
                                                        <select asp-for="DeveloperUserId" class="form-control" asp-items="ViewBag.DeveloperUserId"></select>
                                                        <span asp-validation-for="DeveloperUserId" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            }
                                <!--/span-->
                                        </div>
                                        <!--/row-->
@*                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group mb-3">
                                                  <label asp-for="TicketPriorityId" class="control-label">Priority</label>
                                                  <select asp-for="TicketPriorityId" class ="form-control" asp-items="ViewBag.TicketPriorityId"></select>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->*@
                                    <div class="form-actions">
                                        <button type="submit" value="create" class="btn btn-success rounded-pill px-4"> Save</button>

                                    </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>
                <!-- -------------------------------------------------------------- -->
                <!-- End PAge Content -->
                <!-- -------------------------------------------------------------- -->
            </div>
            <!-- -------------------------------------------------------------- -->
            <!-- End Container fluid  -->
            <!-- -------------------------------------------------------------- -->

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

            <script src="~/ckeditor5/build/ckeditor.js"></script>
            <script>
                 ClassicEditor
                     .create(document.querySelector('.editor'), {
                         licenseKey: '',
                     })
                     .then(editor => {
                         window.editor = editor;
                     })
                     .catch(error => {
                         console.error('Oops, something went wrong!');
                         console.error('Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:');
                         console.warn('Build id: xx09iayzufkn-lkt434h3lx2z');
                         console.error(error);
                     });
            </script>
}
