@page
@using MeteorStrike.Models.Enums;
@using MeteorStrike.Services.Interfaces
@inject IBTFileService _FileService
@model ChangePictureModel
@{
    ViewData["Title"] = "Change Profile Picture";
    ViewData["ActivePage"] = ManageNavPages.ChangePictureNavClass;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="change-profile-picture-form" method="post" enctype="multipart/form-data">
            <div class="form-group mb-3">
                <label asp-for="ImageFormFile" class="control-label">Profile Image</label>
                <img class="img-fluid border rounded-3 m-2" style="max-height: 250px;" src="@_FileService.ConvertByteArrayToFile(ViewBag.CurrentUser.ImageFileData, ViewBag.CurrentUser.ImageFileType, (int)DefaultImage.BTUserImage)" alt="Post Images" id="userImage">
                <input asp-for="ImageFormFile" type="file" class="form-control mt-3 pt-2" accept=".png,.jpg,.jpeg,.gif"
                       onchange="document.getElementById('userImage').src = window.URL.createObjectURL(this.files[0])" />
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Update Avatar</button>
        </form>
    </div>
</div>

@section Scripts {
            <partial name="_ValidationScriptsPartial" />
}
