@using MeteorStrike.Services.Interfaces;
@using MeteorStrike.Models.Enums;
@using Microsoft.AspNetCore.Identity;

@inject IBTFileService _BTFileService
@inject SignInManager<BTUser> SignInManager
@inject UserManager<BTUser> _UserManager

@{
    ViewData["Title"] = "Home Page";

    BTUser? btUser = await _UserManager.GetUserAsync(User);

}
<!-- ============================================================== -->
<!-- User & Tickets  -->
<!-- ============================================================== -->
  <div class="row">
   <div class="col-lg-4">
     <div class="card">
       <div class="card-body">
         <div class="d-flex flex-row">
           <div class="">
             <img src="../../assets/images/users/1.jpg" alt="user" class="rounded-circle" width="100">
           </div>
           <div class="ps-3">
               @if (User.Identity.IsAuthenticated)
               {
                   <h3 class="font-weight-medium">@btUser!.FullName</h3>
                   <h6 class="text-muted">@btUser!.Email</h6>
               }
           </div>
         </div>
         <div class="row mt-4 pt-2">
           <div class="col text-center border-end">
             <h2 class="fw-light">14</h2>
             <h6 class="text-muted">Tickets</h6>
           </div>
           <div class="col text-center border-end">
             <h2 class="fw-light">54</h2>
             <h6 class="text-muted">Projects</h6>
           </div>
           <div class="col text-center">
             <h2 class="fw-light">145</h2>
             <h6 class="text-muted">Tasks</h6>
           </div>
         </div>
       </div>
     </div>
     <div class="card w-100">
       <div class="d-flex align-items-center px-3 py-4 border-bottom">
         <div>
           <h4 class="card-title font-weight-medium">To-do List</h4>
           <h5 class="card-subtitle mb-0">This Months Task</h5>
         </div>
         <div class="ms-auto">
           <button class="btn btn-danger text-white btn-rounded" data-bs-toggle="modal" data-bs-target="#addtask">
             Add Task
           </button>
         </div>
       </div>
       <div class="card-body">
         <div class="todo-widget">
           <ul class="list-task todo-list list-group mb-0" data-role="tasklist">
             <li class="list-group-item border-0 mb-0 pb-3 pe-3 ps-0" data-role="task">
                        <div class="
                            form-check
                            border-start border-2 border-info
                            ps-1
                          ">
                          <input type="checkbox" class="form-check-input ms-2" id="inputSchedule" name="inputCheckboxesSchedule">
                          <label for="inputSchedule" class="form-check-label ps-2 fw-normal">
                            <span>Give salary to employee</span>
                          </label>
                        </div>
                      </li>
             <li class="list-group-item border-0 mb-0 py-3 pe-3 ps-0" data-role="task">
                        <div class="
                            form-check
                            border-start border-2 border-danger
                            ps-1
                            d-flex
                          ">
                          <input type="checkbox" class="form-check-input ms-2" id="inputCall" name="inputCheckboxesCall">
                          <label for="inputCall" class="form-check-label ps-2 fw-normal">
                            <span>Give Purchase report to</span>
                            <span class="badge bg-light-danger text-danger">Today</span>
                          </label>
                        </div>
                        <ul class="assignedto list-inline m-0 ps-4 ms-3 mt-2">
                          <li class="list-inline-item">
                            <img class="rounded-circle" src="../../assets/images/users/3.jpg" alt="user" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-original-title="Priyanka">
                          </li>
                          <li class="list-inline-item">
                            <img class="rounded-circle" src="../../assets/images/users/4.jpg" alt="user" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-original-title="Selina">
                          </li>
                        </ul>
                      </li>
             <li class="list-group-item border-0 mb-0 py-3 pe-3 ps-0" data-role="task">
                        <div class="
                            form-check
                            border-start border-2 border-primary
                            ps-1
                          ">
                          <input type="checkbox" class="form-check-input ms-2" id="inputBook" name="inputCheckboxesBook">
                          <label for="inputBook" class="form-check-label ps-2 fw-normal">
                            <span>Book flight for holiday</span>
                          </label>
                        </div>
                        <div class="
                            item-date
                            fs-2
                            ps-4
                            ms-3
                            text-muted
                            d-inline-block
                          ">
                          26 jun 2021
                        </div>
                      </li>
           </ul>
         </div>
       </div>
       <!-- Modal -->
       <div class="modal fade" id="addtask" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header d-flex align-items-center">
               <h5 class="modal-title" id="exampleModalLabel">
                 Add Task
               </h5>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
             </div>
             <div class="modal-body">
               <form>
                 <div class="form-group">
                   <label for="text_name">Name</label>
                   <input type="text" class="form-control" id="text_name" placeholder="Enter your Name">
                 </div>
                 <div class="form-group">
                   <label for="txt_email">Email Address</label>
                   <input type="email" class="form-control" id="txt_email" placeholder="Enter Email">
                 </div>
               </form>
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                 Close
               </button>
               <button type="button" class="btn btn-primary">
                 Save changes
               </button>
             </div>
           </div>
         </div>
       </div>
     </div></div>
   <div class="col-lg-8">
   <div class="card">
                <div class="d-flex align-items-center p-3">
                  <h5 class="card-title mb-0">Recent Tickets</h5>
                  <div class="ms-auto">
                    <select class="form-select">
                      <option>March</option>
                      <option>April</option>
                      <option>May</option>
                      <option>June</option>
                      <option>July</option>
                    </select>
                  </div>
                </div>
                <div class="p-3 bg-light">
                  <div class="d-flex align-items-center">
                    <div>
                      <h2 class="fw-normal">March 2021</h2>
                      <p class="mb-2 fs-4 text-muted">Sales Report</p>
                    </div>
                    <div class="ms-auto">
                      <h1 class="text-info mb-0 fw-light">$3,690</h1>
                    </div>
                  </div>
                </div>
                <div class="p-3">
                  <div class="table-responsive">
                    <table class="table mb-0 no-wrap recent-table table-hover">
                      <thead>
                        <tr class="fs-4 font-weight-medium">
                          <th class="border-0">#</th>
                          <th class="border-0">Name</th>
                          <th class="border-0">Status</th>
                          <th class="border-0">Date</th>
                          <th class="border-0">Price</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td class="txt-oflo">Elite admin</td>
                          <td>
                            <span class="
                                badge
                                rounded-pill
                                text-uppercase text-white
                                font-weight-medium
                                bg-success
                                label-rouded
                              ">SALE</span>
                          </td>
                          <td class="txt-oflo">April 18, 2021</td>
                          <td><span class="text-success">$24</span></td>
                        </tr>
                        <tr>
                          <td>2</td>
                          <td class="txt-oflo">Real Homes WP Theme</td>
                          <td>
                            <span class="
                                badge
                                rounded-pill
                                text-uppercase text-white
                                font-weight-medium
                                bg-info
                                label-rouded
                              ">EXTENDED</span>
                          </td>
                          <td class="txt-oflo">April 19, 2021</td>
                          <td><span class="text-info">$1250</span></td>
                        </tr>
                        <tr>
                          <td>3</td>
                          <td class="txt-oflo">Ample Admin</td>
                          <td>
                            <span class="
                                badge
                                rounded-pill
                                text-uppercase text-white
                                font-weight-medium
                                bg-info
                                label-rouded
                              ">EXTENDED</span>
                          </td>
                          <td class="txt-oflo">April 19, 2021</td>
                          <td><span class="text-info">$1250</span></td>
                        </tr>
                        <tr>
                          <td>4</td>
                          <td class="txt-oflo">Medical Pro WP Theme</td>
                          <td>
                            <span class="
                                badge
                                rounded-pill
                                text-uppercase text-white
                                font-weight-medium
                                bg-danger
                                label-rouded
                              ">TAX</span>
                          </td>
                          <td class="txt-oflo">April 20, 2021</td>
                          <td><span class="text-danger">-$24</span></td>
                        </tr>
                        <tr>
                          <td>5</td>
                          <td class="txt-oflo">Hosting press html</td>
                          <td>
                            <span class="
                                badge
                                rounded-pill
                                text-uppercase text-white
                                font-weight-medium
                                bg-warning
                                label-rouded
                              ">SALE</span>
                          </td>
                          <td class="txt-oflo">April 21, 2021</td>
                          <td><span class="text-success">$24</span></td>
                        </tr>
                        <tr>
                          <td>6</td>
                          <td class="txt-oflo">Digital Agency PSD</td>
                          <td>
                            <span class="
                                badge
                                rounded-pill
                                text-uppercase text-white
                                font-weight-medium
                                bg-success
                                label-rouded
                              ">SALE</span>
                          </td>
                          <td class="txt-oflo">April 23, 2021</td>
                          <td><span class="text-danger">-$14</span></td>
                        </tr>
                        <tr>
                          <td>7</td>
                          <td class="txt-oflo">Helping Hands WP Theme</td>
                          <td>
                            <span class="
                                badge
                                rounded-pill
                                text-uppercase text-white
                                font-weight-medium
                                bg-warning
                                label-rouded
                              ">member</span>
                          </td>
                          <td class="txt-oflo">April 22, 2021</td>
                          <td><span class="text-success">$64</span></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>            
     </div>
 </div>

       <!-- ============================================================== -->
       <!-- First Cards Row  -->
       <!-- ============================================================== -->
       <div class="row">
                    <div class="col-md-6 col-lg-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">New Clients</h5>
                                <div class="d-flex align-items-center mb-2 mt-4">
                                    <h2 class="mb-0 display-5"><i class="icon-people text-info"></i></h2>
                                    <div class="ms-auto">
                                        <h2 class="mb-0 display-6"><span class="fw-normal">23</span></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">New Projects</h5>
                                <div class="d-flex align-items-center mb-2 mt-4">
                                    <h2 class="mb-0 display-5"><i class="icon-folder text-primary"></i></h2>
                                    <div class="ms-auto">
                                        <h2 class="mb-0 display-6"><span class="fw-normal">169</span></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Open Projects</h5>
                                <div class="d-flex align-items-center mb-2 mt-4">
                                    <h2 class="mb-0 display-5"><i class="icon-folder-alt text-danger"></i></h2>
                                    <div class="ms-auto">
                                        <h2 class="mb-0 display-6"><span class="fw-normal">311</span></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">New Tickets</h5>
                                <div class="d-flex align-items-center mb-2 mt-4">
                                    <h2 class="mb-0 display-5"><i class="ti-bookmark text-success"></i></h2>
                                    <div class="ms-auto">
                                        <h2 class="mb-0 display-6"><span class="fw-normal">117</span></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

       <!-- ============================================================== -->
       <!-- Manage User  -->
       <!-- ============================================================== -->
       <div class="row">
           <div class="col-md-12">
               <div class="card">
                   <div class="card-body">
                       <h5 class="card-title mb-0">Team Members</h5>
                   </div>
                   <div class="table-responsive">
                       <table class="table no-wrap user-table mb-0">
                         <thead class="table-light">
                           <tr>
                             <th scope="col" class="border-0 font-weight-medium ps-4">#</th>
                             <th scope="col" class="border-0 font-weight-medium">Name</th>
                             <th scope="col" class="border-0 font-weight-medium">Occupation</th>
                             <th scope="col" class="border-0 font-weight-medium">Email</th>
                             <th scope="col" class="border-0 font-weight-medium">Added</th>
                             <th scope="col" class="border-0 font-weight-medium">Category</th>
                             <th scope="col" class="border-0 font-weight-medium">Manage</th>
                           </tr>
                         </thead>
                         <tbody>
                           <tr>
                             <td class="ps-4">1</td>
                             <td>
                               <div class="d-flex align-items-start">
                                   <img src="../assets/images/users/1.jpg" class="rounded-circle" width="35">
                                   <div class="ms-2">
                                     <h5 class="font-weight-medium mb-0">Daniel Kristeen</h5>
                                     <span class="text-muted">Texas, Unitedd states</span>
                                   </div>
                               </div>
                             </td>
                             <td>
                                 <span>Visual Designer</span><br>
                                 <span>Past : teacher</span>
                             </td>
                             <td>
                                 <span>daniel@website.com</span><br>
                                 <span>999 - 444 - 555</span>
                             </td>
                             <td>
                                 <span>15 Mar 1988</span><br>
                                 <span>10: 55 AM</span>
                             </td>
                             <td>
                               <select class="form-select category-select" id="exampleFormControlSelect1">
                                 <option>Modulator</option>
                                 <option>Admin</option>
                                 <option>User</option>
                                 <option>Subscriber</option>
                               </select>
                             </td>
                             <td>
                               <a href="javascript:void(0)" class="text-info edit"><i data-feather="eye" class="feather-sm fill-white"></i></a>
                                       <a href="javascript:void(0)" class="text-dark delete ms-2"><i data-feather="trash-2" class="feather-sm fill-white"></i></a>
                             </td>
                           </tr>
                           <tr>
                             <td class="ps-4">2</td>
                             <td>
                               <div class="d-flex align-items-start">
                                   <img src="../assets/images/users/2.jpg" class="rounded-circle" width="35">
                                   <div class="ms-2">
                                     <h5 class="font-weight-medium mb-0">Emma Smith</h5>
                                     <span class="text-muted">Texas, Unitedd states</span>
                                   </div>
                               </div>
                             </td>
                             <td>
                                 <span>Visual Designer</span><br>
                                 <span>Past : teacher</span>
                             </td>
                             <td>
                                 <span>daniel@website.com</span><br>
                                 <span>999 - 444 - 555</span>
                             </td>
                             <td>
                                 <span>15 Mar 1855</span><br>
                                 <span>10: 00 AM</span>
                             </td>
                             <td>
                               <select class="form-select category-select" id="exampleFormControlSelect1">
                                 <option>Modulator</option>
                                 <option>Admin</option>
                                 <option>User</option>
                                 <option>Subscriber</option>
                               </select>
                             </td>
                             <td>
                               <a href="javascript:void(0)" class="text-info edit"><i data-feather="eye" class="feather-sm fill-white"></i></a>
                                       <a href="javascript:void(0)" class="text-dark delete ms-2"><i data-feather="trash-2" class="feather-sm fill-white"></i></a>
                             </td>
                           </tr>
                           <tr>
                             <td class="ps-4">3</td>
                             <td>
                               <div class="d-flex align-items-start">
                                   <img src="../assets/images/users/3.jpg" class="rounded-circle" width="35">
                                   <div class="ms-2">
                                     <h5 class="font-weight-medium mb-0">Olivia Johnson</h5>
                                     <span class="text-muted">Texas, Unitedd states</span>
                                   </div>
                               </div>
                             </td>
                             <td>
                                 <span>Visual Designer</span><br>
                                 <span>Past : teacher</span>
                             </td>
                             <td>
                                 <span>daniel@website.com</span><br>
                                 <span>999 - 444 - 555</span>
                             </td>
                             <td>
                                 <span>17 Aug 1988</span><br>
                                 <span>12: 55 AM</span>
                             </td>
                             <td>
                               <select class="form-select category-select" id="exampleFormControlSelect1">
                                 <option>Modulator</option>
                                 <option>Admin</option>
                                 <option>User</option>
                                 <option>Subscriber</option>
                               </select>
                             </td>
                             <td>
                               <a href="javascript:void(0)" class="text-info edit"><i data-feather="eye" class="feather-sm fill-white"></i></a>
                                       <a href="javascript:void(0)" class="text-dark delete ms-2"><i data-feather="trash-2" class="feather-sm fill-white"></i></a>
                             </td>
                           </tr>
                           <tr>
                             <td class="ps-4">4</td>
                             <td>
                               <div class="d-flex align-items-start">
                                   <img src="../assets/images/users/4.jpg" class="rounded-circle" width="35">
                                   <div class="ms-2">
                                     <h5 class="font-weight-medium mb-0">Isabella Williams</h5>
                                     <span class="text-muted">Texas, Unitedd states</span>
                                   </div>
                               </div>
                             </td>
                             <td>
                                 <span>Visual Designer</span><br>
                                 <span>Past : teacher</span>
                             </td>
                             <td>
                                 <span>daniel@website.com</span><br>
                                 <span>999 - 444 - 555</span>
                             </td>
                             <td>
                                 <span>26 Mar 1999</span><br>
                                 <span>10: 55 AM</span>
                             </td>
                             <td>
                               <select class="form-select category-select" id="exampleFormControlSelect1">
                                 <option>Modulator</option>
                                 <option>Admin</option>
                                 <option>User</option>
                                 <option>Subscriber</option>
                               </select>
                             </td>
                             <td>
                               <a href="javascript:void(0)" class="text-info edit"><i data-feather="eye" class="feather-sm fill-white"></i></a>
                                       <a href="javascript:void(0)" class="text-dark delete ms-2"><i data-feather="trash-2" class="feather-sm fill-white"></i></a>
                             </td>
                           </tr>
                           <tr>
                             <td class="ps-4">5</td>
                             <td>
                               <div class="d-flex align-items-start">
                                   <img src="../assets/images/users/5.jpg" class="rounded-circle" width="35">
                                   <div class="ms-2">
                                     <h5 class="font-weight-medium mb-0">Sophia Jones</h5>
                                     <span class="text-muted">Texas, Unitedd states</span>
                                   </div>
                               </div>
                             </td>
                             <td>
                                 <span>Visual Designer</span><br>
                                 <span>Past : teacher</span>
                             </td>
                             <td>
                                 <span>daniel@website.com</span><br>
                                 <span>999 - 444 - 555</span>
                             </td>
                             <td>
                                 <span>16 Aug 2001</span><br>
                                 <span>10: 55 AM</span>
                             </td>
                             <td>
                               <select class="form-select category-select" id="exampleFormControlSelect1">
                                 <option>Modulator</option>
                                 <option>Admin</option>
                                 <option>User</option>
                                 <option>Subscriber</option>
                               </select>
                             </td>
                             <td>
                               <a href="javascript:void(0)" class="text-info edit"><i data-feather="eye" class="feather-sm fill-white"></i></a>
                                       <a href="javascript:void(0)" class="text-dark delete ms-2"><i data-feather="trash-2" class="feather-sm fill-white"></i></a>
                             </td>
                           </tr>
                           <tr>
                             <td class="ps-4">6</td>
                             <td>
                               <div class="d-flex align-items-start">
                                   <img src="../assets/images/users/6.jpg" class="rounded-circle" width="35">
                                   <div class="ms-2">
                                         <h5 class="font-weight-medium mb-0">Charlotte Brown</h5>
                                         <span class="text-muted">Texas, Unitedd states</span>
                                   </div>
                               </div>
                             </td>
                             <td>
                                 <span>Visual Designer</span><br>
                                 <span>Past : teacher</span>
                             </td>
                             <td>
                                 <span>daniel@website.com</span><br>
                                 <span>999 - 444 - 555</span>
                             </td>
                             <td>
                                 <span>15 Mar 1988</span><br>
                                 <span>10: 55 AM</span>
                             </td>
                             <td>
                               <select class="form-select category-select" id="exampleFormControlSelect1">
                                 <option>Modulator</option>
                                 <option>Admin</option>
                                 <option>User</option>
                                 <option>Subscriber</option>
                               </select>
                             </td>
                             <td>
                               <a href="javascript:void(0)" class="text-info edit"><i data-feather="eye" class="feather-sm fill-white"></i></a>
                                       <a href="javascript:void(0)" class="text-dark delete ms-2"><i data-feather="trash-2" class="feather-sm fill-white"></i></a>
                             </td>
                           </tr>
                         </tbody>
                       </table>
                   </div>
               </div>
           </div>
       </div>
