@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
    Layout = "_LayoutIdentity";
}
<div class="container p-3">
<div class="row">
    <div class="card mt-5 mb-2 p-3">
<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">You do not have access to this resource.</p>
</header>
</div>
</div>
</div>
