@model MeteorStrike.Models.Project

@{
    ViewData["Title"] = "Create";
}

            <!-- -------------------------------------------------------------- -->
            <!-- Container fluid  -->
            <!-- -------------------------------------------------------------- -->
            <div class="container-fluid page-content">
                <!-- -------------------------------------------------------------- -->
                <!-- Start Page Content -->
                <!-- -------------------------------------------------------------- -->
                <div class="row">
                    <!-- Column -->
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form asp-action="Create" enctype="multipart/form-data">
                                   <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-body">
                                        <h5 class="card-title">Create a New Project</h5>
                                        <hr>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="mb-3">
                                                  <label asp-for="Name" class="control-label"></label>
                                                  <input asp-for="Name" class="form-control" />
                                                  <span asp-validation-for="Name" class="text-danger"></span>
                                            </div>
                                            <!--/span-->
                                            <div class="col-12">
                                                <div class="form-group mb-3">
                                                  <label asp-for="Description" class="control-label"></label>
                                                  <textarea rows="4" asp-for="Description" class="form-control"></textarea>
                                                  <span asp-validation-for="Description" class="text-danger"></span>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group mb-3">
                                                  <label asp-for="StartDate" class="control-label"></label>
                                                  <input asp-for="StartDate" class="form-control" />
                                                  <span asp-validation-for="StartDate" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group mb-3">
                                                <label asp-for="ProjectPriorityId" class="control-label"></label>
                                                <select asp-for="ProjectPriorityId" class ="form-control" asp-items="ViewBag.ProjectPriorityId"></select>                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group mb-3">
                                                    <label asp-for="EndDate" class="control-label"></label>
                                                    <input asp-for="EndDate" class="form-control" />
                                                    <span asp-validation-for="EndDate" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group mb-3">
                                                     <label asp-for="ImageFormFile" class="control-label">Project Image</label>
                                                     <input asp-for="ImageFormFile" type="file" class="form-control mt-3 pt-2" accept=".png,.jpg,.jpeg,.gif"
                                                            onchange="document.getElementById('projectImage').src = window.URL.createObjectURL(this.files[0])" />
                                                      <img class="img-fluid border rounded-3 m-2" style="max-height: 150px;" src="~/img/DefaultProjectImage.png" id="projectImage">
                                                </div>
                                            </div>
                                    <div class="form-actions">
                                        <button type="submit" value="create" class="btn btn-success rounded-pill px-4"> Save</button>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>
                <!-- -------------------------------------------------------------- -->
                <!-- End PAge Content -->
                <!-- -------------------------------------------------------------- -->
            </div>
            <!-- -------------------------------------------------------------- -->
            <!-- End Container fluid  -->
            <!-- -------------------------------------------------------------- -->