html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.cardheaderimg {
    object-fit: cover !important;
    object-position: center !important; /* Center the image within the element */
    width: 100% !important;
    max-height: 100px !important;
}


.card-index-text {
    line-clamp: 3 !important;
}

.text-truncate-container {
    width: 250px;
}

    .text-truncate-container p {
        -webkit-line-clamp: 3;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

.card-body::-webkit-scrollbar {
    display: none;
}

.dashCard::-webkit-scrollbar {
    display: none;
}

.left-sidebar {
    z-index: 80;
    background: #2F313C !important;
    color: #F4F4F4 !important;
}

.topbar {
    z-index: 90;
    background: #20222a !important;
}

#main-wrapper .left-sidebar .sidebar-nav ul .sidebar-item .sidebar-link {
    color: #F4F4F4 !important;
}
#main-wrapper .left-sidebar .sidebar-nav ul .sidebar-item, .devider, .left-sidebar ul {
    background: #2F313C !important;
}


.sidebar-nav ul .sidebar-item .sidebar-link i {
    font-style: normal;
    width: 35px;
    line-height: 25px;
    font-size: 21px;
    color: #F4F4F4;
    display: inline-block;
    text-align: center;
}

#main-wrapper .topbar .navbar-collapse {
    background: #20222a !important;
}

.sidebar-nav ul .sidebar-item.selected > .sidebar-link {
    background-color: #5E877A;
    color: #20222a !important;
}

.page-breadcrumb {
    margin-bottom: 2em;
    margin-top: -2em !important;
}

.ck-editor__editable_inline {
    min-height: 150px;
}

.headerImage {
    object-fit: cover !important;
    object-position: top !important; /* Center the image within the element */
    width: 100% !important;
    max-height: 120px !important;
    z-index: 10;
}

.footerImage {
    object-fit: cover !important;
    object-position: bottom !important; /* Center the image within the element */
    width: 100% !important;
    max-height: 50px !important;
}

.headerSection {
    background: url(/img/SpaceSection.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-color: black;
}

.userIcon {
    display: inline-block;
    object-fit: cover;
    position: center;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
}

    .userIcon img {
        width: auto;
        height: 100%;
    }

.userNavIcon {
    display: inline-block;
    object-fit: cover;
    position: center;
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
}

    .userIcon img {
        width: auto;
        height: 100%;
    }

/*#welcome {
    overflow: hidden !important;
    position: relative !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    background-image: src(/img/FullSpaceBG.png) !important;
    background-repeat: no-repeat;*/
    /*
TRY IT ... with or without CENTER CENTER
  background-position: center center; 
*/
    /*background-size: cover !important;
    width: 100% !important;
    height: 105vh !important;
    margin-top: -10vh !important;
}*/

.spaceBG {
    background: url(/img/FullSpaceBG.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-color: black;
}

.focalPoint {
    margin-top: -500px;
}

.textMuted {
    color: #c3cfcd !important;
}

.spaceBtn: hover {
    background-color: #659d8e;
}

.landingpageArrow {
    margin-top: -90px !important;
    margin-bottom: 10px !important;
    font-size: 100px !important;
}