html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.cardheaderimg {
    object-fit: cover !important;
    object-position: center !important; /* Center the image within the element */
    width: 100% !important;
    max-height: 100px !important;
}


.card-index-text {
    line-clamp: 3 !important;
}

.text-truncate-container {
    width: 250px;
}

    .text-truncate-container p {
        -webkit-line-clamp: 3;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }